/*En primer lugar, importamos las fuentes que usaremos de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Roboto:wght@700&display=swap');

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    padding: 0;
    margin: 0;
}

/*Fuente de las letras que utilizaremos del body*/
body {
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
}

/*Damos estilos al li y al a*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER*/

/*Dentro del header(parte de arriba del todo) declaramos el padding*/
header {
    padding: 15px 10px;
}

#main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

/*Para que me sea más fácil, divido el header por trozos*/
/* COLUMNA 1 */
/*Anchura de la imagen del logo*/
header #columna-1 img {
    width: 100px;
}

header #columna-1 img:hover{
    transition: .75s;
    filter: drop-shadow(6px 4px 2px grey);
}
/* COLUMNA 2 */
/*Posicion de la columna 2*/
header #columna-2 {
    position: relative;
    margin: 0 2rem;
}

header #columna-2 article {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

/*Tamaño y anchura del título Musicallyx*/
header #columna-2 h1 {
    font-size: 50px;
    width: 50%;
    font-weight: 150;
}


/*Info acerca la posición, anchura...*/
header #columna-2 form {
    position: relative;
    display: flex;
    width: 30%;
}

/*Características del icono (buscador idiomas) que hemos añadido*/
header #columna-2 input {
    top: 10px;
    padding: 15px 40px 15px 10px;
    background-color: #DBDBDB;
    border: none;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
}

/*Características del icono (carrito) que hemos añadido*/
header #columna-2 button {
    background-color: #DBDBDB;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    border: none;
}

/*Características del icono (iniciar sesión) que hemos añadido*/
header #columna-2 button i {
    font-size: 20px;
}

header #columna-2 nav {
    width: 100%;
}

.burger-menu {
    z-index: 99999;
    display: none;
    color: red;
}

#icon-menu {
    z-index: 9999;
    display: none;
    font-size: 22px;
}

/*Características del ul dentro del nav*/
#links {
    display: flex;
}

header #columna-2 #dropdown /*submenu*/{
    position: relative;
}

header #columna-2 #dropdown-links /*opciones del submenú*/{
    margin-top: .5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 0 10px 10px;
    opacity: 0;
    transition: .3s all;
}

header #columna-2 #dropdown-links a {
    display: flex;
    width: 100%;
    max-width: 150px;
    justify-content: center;
    margin-top: 1rem;
}

header #columna-2 #dropdown:hover #dropdown-links {
    opacity: 1;
}

/*Colores,márgenes, tamaños, etc...*/
header #columna-2 nav a {
    background-color: #188CF9;
    color: #fff;
    padding: 11px 70px;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 3px;
}

/*Pedimos que cuando el ratón esté encima, el fondo de la caja sea negra*/
#links a:hover {
    background-color: #000;
    color: #fff;

}

/*Debería ir abajo del todo con los demas media queries, pero cuando lo añado abajo se me rompe el menú hamburguesa, no sé por qué*/
/*Adapta el tamaño si la página llega a 1024 px*/
@media (max-width: 1024px) {
    #links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #348feb;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: -1000px;
        gap: 4rem;
        z-index: 999;
        transition: .3s all;
    }
    header #columna-2 #dropdown-links/*Para las opciones del menú*/ {
        background-color: yellowgreen;
    }
    header #columna-2 nav {
        position: relative;
        display: block;
    }

    header #columna-2 nav a {
        background-color: transparent;
        font-size: 30px;
    }

    #icon-menu {
        position: absolute;
        display: flex;
    }

    .burger-menu {
        display: flex;
        position: absolute;
        max-width: 20px;
        max-height: 20px;
        left: 0;
        transform: translateY(-5px);
        opacity: 0;
        font-size: 1rem;
    }

    .burger-menu:checked~#links {
        top: 0;
    }
}

/* COLUMNA 3 */

/*Detalles de los iconos*/
header #columna-3 nav:nth-child(1) {
    margin-top: 1.5rem;
}

/*Tamaño, espacio y animaciones de los iconos (carrito, iniciar sesión e idiomas)*/
header #columna-3 i {
    /*Tiempo que tarda en marcarse desde que se pone el ratón*/
    transition: .3s all;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

/*Cuando se pone el ratón encima del icono, que sea blanco y su fondo sea negro*/

header #columna-3 i:hover {
    background-color: #000;
    color: #fff;
}

header #columna-3 nav:nth-child(2) {
    margin-top: 3rem;
}

header #columna-3 img {
    max-width: 100px;
    padding-top: 10px;
}

#main {
    overflow: hidden;
}



/* SECCIÓN 1 */

/*Información de la imagen que aparece en la sección 1 (anchura)*/
article img {
    max-width: 100%;
}

/*Características de la imagen (Pablo López)*/
#seccion-1 {
    background: url("../images/cantantes/pablolopezcon.jpg");
    background-position: center;
    background-size: cover;
    height: 791px;
}

/*Características del título de la sección 1*/
#seccion-1 h2 {
    color: #fff;
    font-size: 68px;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
    text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
     rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}

/* SECCIÓN 2 */

/*Características de la sección 2*/
#seccion-2 {
    background: url("../images/hero-bg.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*Detalles de la sección a montar*/
#seccion-2 section {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 2rem 0;
}

/*Información (color, tamaño de fuente,...) acerca del título*/
#seccion-2 section h3 {
    color: #fff;
    font-size: 50px;
}

/*Detalles de la info del 2ºtexto (el amarillo)*/
#seccion-2 section h5 {
    color: #FFED83;
    font-size: 25px;
    font-weight: 700;
    max-width: 700px;
}

/*Características del 3er texto de la sección 2 (párrafo)*/
#seccion-2 section p {
    color: #eeeeee;
    font-size: 30px;
    max-width: 700px;
    text-align: center;
    /*Uso del line-height*/
    line-height: normal;
}

/* SECCIÓN 3 */

/* Dentro de la sección 3, el main se reparte en 3 columnas, cada una ocupará un 33,3% de la pág. total*/
#seccion-3 main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/*Nos centramos en el section de la sección 3 e indicamos su padding*/
#seccion-3 section {
    overflow: hidden;
    padding: 0 0 80px 0;
}

/*Indicamos el ancho de la imagen del section de la sección 3*/
#seccion-3 section img {
    width: 100%;
}

/*Indicamos las características del título del section de la sección 3*/
#seccion-3 section h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 80px;
}

/*Indicamos el color de fondo (AZUL) de la 1ª columna*/
#seccion-3 section:nth-child(1) {
    background-color: rgb(0, 138, 252);
}

/*Indicamos el color de fondo (BLANCO) de la 2ª columna*/
#seccion-3 section:nth-child(2) {
    background-color: rgb(250, 250, 250);
}

/*Indicamos el color de fondo (VERDE) de la 3ª columna*/
#seccion-3 section:nth-child(3) {
    background-color: rgb(144, 255, 191);
}

/* SECCIÓN 4 */

/*Indicamos los detalles de la sección 4*/
#seccion-4 {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}

/*Especificamos dentro del main*/
#seccion-4 main {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*Características del título de la sección 4*/
#seccion-4 h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 55px;
}

/*Características de las cajas de la sección 4*/
#seccion-4 section {
    background-color: #000;
    text-align: center;
    height: 670px;
}

/*Características de la imagen que aparecerá dentro de la caja de la sección 4*/
#seccion-4 section img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 25px;
}

/*Características de la 2ª parte de la sección 4*/
#seccion-4 section a:nth-child(2) {
    font-size: 28px;
    line-height: 1.6;
    padding: 0 15px 0 15px;
}

/*Características del párrafos de las cajas de la sección 4*/
#seccion-4 section p {
    color: #bcbcbc;
    margin: 40px 0;
    font-size: 18px;
    padding: 0 15px 0 15px;
}

/*Fondos de color y padding del botón para tener más info*/
#seccion-4 section a:nth-child(4) {
    background-color: rgb(40, 82, 116);
    padding: 15px 30px;
    font-weight: 500;
}

/*Color de fondo azul oscuro del botón para + info cuando se pulse*/
#seccion-4 section a:nth-child(4):hover {
    background-color: rgb(33, 64, 89);
}

/*Info de la parte 3 de las cajas de la sección 4*/
#seccion-4 a:nth-child(3) {
    color: #221F7B;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
}

#seccion-4 a:nth-child(3):hover {
    text-decoration: underline;
}

/* SECCIÓN 5 */

/* Vamos con la sección de las 3 columnas de colores. Aquí ponemos la info general */
#seccion-5 main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* A continuación, se presentan las características del section de la sección 5*/
#seccion-5 section {
    height: 500px;
    text-align: center;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(0, 138, 252);
    border-bottom: 1px solid rgb(0, 138, 252);
}

/* Tamaño del símbolo "(entre comillas)*/
#seccion-5 section i {
    font-size: 80px;
}

/* Tamaño del título 1 dentro del section de la sección 5*/
#seccion-5 section h1 {
    font-size: 28px;
    margin: 30px;
}

/* Características del párrafo 1 dentro del section de la sección 5*/
#seccion-5 section p {
    text-align: center;
    font-size: 20px;
    /*Uso de line-height interlineado entre palabras de un párrafo*/
    line-height: 1.7;
    max-width: 400px;
}

/* Color de fondo VERDE (1ª columna de la sección 5)*/
#seccion-5 section:nth-child(1) {
    background-color: rgb(144, 255, 191);
}

/* Color de fondo BLANCO + bordes ( 2ª columna de la sección 5) */
#seccion-5 section:nth-child(2) {
    background-color: rgb(250, 250, 250);
    border-left: 1px solid rgb(0, 138, 252);
    border-right: 1px solid rgb(0, 138, 252);
}

/* Color de fondo AZUL (3ª columna de la sección)*/
#seccion-5 section:nth-child(3) {
    background-color: rgb(0, 138, 252);
}

/* SECCIÓN 6 */

/* Información aplicable a toda la sección 6: fondos, posicionamiento, etc... */
#seccion-6 {
    width: 100%;
    padding: 80px 0;
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Al vídeo le ponemos posicionamiento absoluto */
#seccion-6 video {
    position: absolute;
}

/* Al texto le ponemos las siguientes características */
#seccion-6 section {
    position: absolute;
    background-color: #fff;
    height: 400px;
    padding: 5px 15px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Al título del texto el siguiente tamaño... */
#seccion-6 section h1 {
    font-size: 50px;
}

/* Al párrafo del texto las siguientes fuentes, posicionamiento, y margen */
#seccion-6 section p {
    font-size: 20px;
    max-width: 450px;
    line-height: 1.6;
    margin: 30px 0;
}

/* Dentro de la sección 6, aplicamos las siguientes directrices para las cajas */
#seccion-6 section a {
    background-color: #348feb;
    color: #000;
    font-size: 20px;
    padding: 10px 30px;
}

/* SECCIÓN 7 */

/* Declaramos los detalles de la sección 7: color de fondo, posicionamiento, altura, etc... */
#seccion-7 {
    background-color: rgb(29, 28, 27);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dentro de esta sección, mostramos la info con respecto al título */
#seccion-7 h1 {
    margin: 30px 0 20px 0;
    color: #fff;
    font-size: 30px;
}

/* Mostramos el form(parte del documento que permite al usuario enviar información al servidor) */
#seccion-7 form {
    position: relative;
    /* Usamos la función transform, que sirve para recolocar un elemento en un eje en concreto */
    /* En nuestro caso el horizontal, ya que está en el eje x */
    transform: translateX(-30px);
}

/* Mostramos la información correspondiente al buscador */
#seccion-7 input {
    height: 30px;
    width: 400px;
    padding: 10px 10px 10px 20px;
}

/* Mostramos la info perteneciente al botón de enviar */
#seccion-7 button {
    background-color: #348feb;
    color: #000;
    font-size: 20px;
    border: none;
    padding: 15px;
    position: absolute;
    bottom: 1px;
}

/* FOOTER */

/* Vamos especificando sección por sección */
/* Esta 1ª, es para el footer en general, afecta a todos los siguientes*/
footer {
    padding: 50px 0;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5% 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
}


/*Para todas las columnas usamos un barra separadora*/
footer #columna-1,
footer #columna-2,
footer #columna-3,
footer #columna-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ccc;
}

footer h3 {
    text-align: center;
}

footer #columna-1 img {
    max-width: 300px;
}

footer #columna-3 li {
    margin: 20px 0;
    text-align: center;
}

footer a {
    position: relative;
    color: #000;
}

footer a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #000;
    bottom: -5px;
    left: 0;
    transition: .3s all;
}

footer a:hover::after {
    width: 100%;
}

footer #columna-2 img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 240px;
}

/*Parte del copyright*/
#copy {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 10px;
    border-top: 3px solid #ccc;
    margin-top: 15px;
    text-align: center;
    font-weight: 800;
    color: #000;
}


/* ADAPTACIÓN DE LA PÁGINA DEPENDIENDO DE LA RESOLUCIÓN */
/* PARA LA BUENA VISIÓN YA SEA EN TABLETS O MÓVIL*/

/*HEADER*/

/*Para el titulo Musicallyx*/
@media (max-width: 850px) {
    header #columna-2 h1 {
        font-size: 35px;
    }
}


@media (max-width: 1545px) {
    header #columna-2 nav a {
        padding: 11px 60px;
    }
}
@media (max-width: 1527px) {
    header #columna-2 nav a {
        padding: 11px 60px;
    }
}

@media (max-width: 1322px) {
    header #columna-2 nav a {
        padding: 11px 60px;
    }
}

/*Adapta el tamaño si la página llega a 1305 px*/
@media (max-width: 1305px) {
    header #columna-2 nav a {
        padding: 11px 60px;
    }
}

/*Adapta el tamaño si la página llega a 1495 px*/
@media (max-width: 1495px) {
    header #columna-2 nav a {
        padding: 11px 48px;
        font-size: 15.5px;
    }
}

@media (max-width: 1324px) {
    header #columna-2 nav a {
        padding: 11px 48px;
        font-size:18px;
    }
}


@media (max-width: 1322px) {
    header #columna-2 nav a {
        padding: 11px 48px;
        font-size:15px;
    }
}


@media (max-width: 1314px) {
    header #columna-2 nav a {
        padding: 11px 48px;
    }
}

@media (max-width: 1305px) {
    header #columna-2 nav a {
        padding: 11px 48px;
        font-size: 14.5px;
    }
}

/*Adapta el tamaño si la página llega a 1292 px*/
@media (max-width: 1292px) {
    header #columna-2 nav a {
        padding: 11px 15px;
    }
}

/*Adapta el tamaño si la página llega a 1288 px*/
@media (max-width: 1288px) {
    header #columna-2 nav a {
        padding: 11px 44px;
    }
}

/*Adapta el tamaño si la página llega a 1280 px*/
@media (max-width: 1280px) {
    header #columna-2 nav a {
        padding: 11px 40px;
        font-size: 16px;
    }
}

/*Adapta el tamaño si la página llega a 1250 px*/
@media (max-width: 1250px) {
    header #columna-2 nav a {
        padding: 11px 30px;
    }
}

@media (max-width: 1242px) {
    header #columna-2 nav a {
        padding: 11px 30px;
    }
}
@media (max-width: 1144px) {
    header #columna-2 nav a {
        padding: 11px 20px;
    }
}

@media (max-width: 1139px) {
    header #columna-2 nav a {
        padding: 11px 20px;
        font-size: 15px;
    }
}

/*Adapta el tamaño si la página llega a 1107 px*/
@media (max-width: 1124px) {
    header #columna-2 nav a {
        padding: 11px 20px;
        font-size: 14px;
    }
}

/*Adapta el tamaño si la página llega a 1099 px*/
@media (max-width: 1099px) {
    header #columna-2 nav a {
        padding: 11px 15px;
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    header #columna-3,
    header #columna-2 h1 {
        display: none;
    }
    #icon-menu {
        transform: translateY(-15px) translateX(40px);
        position: absolute;
        display: flex;
        font-size: 65px;
    }

    .burger-menu {
        display: flex;
        position: absolute;
        width: 65px;
        height: 65px;
        left: 60px;
        transform: translateY(-5px);
        opacity: 0;
    }

    .burger-menu:checked~#links {
        top: 0;
    }
}

/*SECCIÓN 3*/
/*Usamos el responsive para ajustar la página. Si tiene 950px se dividirá en 2 columnas que ocuparán cada una un 50%*/
@media (max-width: 950px) {
    #seccion-3 main {
        grid-template-columns: 1fr 1fr;
}
#seccion-3 section:nth-child(3) {
    grid-column: span 2
}

/*SECCION 4*/

/*Como queremos hacer responsive la página, si el ancho tiene 1050px, se dividirán las cajas de 2 en 2 ocupando el 80% en total*/
@media (max-width: 1050px) {
    #seccion-4 main {
        grid-template-columns: repeat(2, 40%);
    }
}

/*Si el ancho tiene 600px, aparecerán las cajas 1 encima de otra, ocupando el 80% en total*/
@media (max-width: 600px) {
    #seccion-4 main {
        grid-template-columns: repeat(1, 80%);
    }
}

/*SECCIÓN 5*/
/* Hacemos uso del responsive para ajustar la página */
/* En este caso, cuando la pantalla llegue a un máximo de 950 px, ...*/
/*...pasarán a haber 2 columnas en vez de 3, ocupando cada una el 50% de la pantalla */
@media (max-width: 950px) {
    #seccion-5 main {
        grid-template-columns: 1fr 1fr;
    }

    #seccion-5 main section:nth-child(3) {
        grid-column: span 2;
    }
}

/* Cuando la pantalla llegue a un máximo de 600 px, ...*/
/*...pasará a haber 1 columnas en vez de 2, ocupando la pantalla completa*/
@media (max-width: 600px) {
    #seccion-5 main {
        grid-template-columns: 1fr;
    }
    #seccion-5 main section {
        grid-column: span 2;
    }
}

/*SECCIÓN 6*/
/* Usamos el responsive para ajustar la página según el tamaño del dispositivo */
@media (max-width: 900px) {
    #seccion-6 section {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #seccion-6 {
        height: 50vh;
    }
}

/*FOOTER*/
@media (max-width: 1200px) {
    footer {
        grid-template-columns: repeat(2, 50%);
    }
}
@media (max-width: 700px) {
    footer {
        grid-template-columns: repeat(1, 100%);
    }

    footer #columna-1,
    footer #columna-2,
    footer #columna-3,
    footer #columna-4 {
        border-right: 1px solid transparent;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
footer #columna-4 img {
    width: 300px !important;
}  
}
}
